<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>

<div th:fragment="header">
  <header>
    <h1>TV License Fine App</h1>
    <nav>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

      <div class ="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
          <a th:href="@{/}" class="btn btn-default" role="button">Home</a>
        </div>
        <div class="col-sm-1"></div>
      </div>
    </nav>
    <hr>
  </header>
</div>

</body>
</html>